body {
  margin: 0;
  font-family: Amaranth, Open Sans, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* min-height: 100%; */
  /* color: #5b6886 !important; */
  /* background-color: #f3f3f3 !important; */
  overflow-y: auto;
  overflow-x: hidden;
}

code {
  font-family: Amaranth, Open Sans, Arial, sans-serif;
}

.cursor {
  cursor: "pointer"
}